* {
  box-sizing: border-box;
  margin: 3px 1px;
  padding: 0;
}

html,
body {
  color: #121212;
  background: rgb(243, 244, 248);
  font-family: sans-serif;
}

a {
  color: rgb(143, 143, 143);
  text-decoration: none;
}

a.active {
  color: rgb(18, 18, 18);
}
